<div class="unassigned-entry-card">
	<div class="dateBox">
		<span class="dayOfWeek">
			{{unassigned.entry.transactionDate | date:'EEE'}}
		</span>
		<div class="calendarDate">
			{{unassigned.entry.transactionDate | date:'MMM d, y'}}
		</div>
		<div class="account">
			{{accountName}}
		</div>
	</div>

	<div *ngIf="unassigned.entry.checkNum" class="checkNum ui-chips-token ui-state-highlight ui-corner-all">
		# {{unassigned.entry.checkNum}}
	</div>
	<div class="description">{{unassigned.entry.description}}</div>
	<div [ngClass]="{'amount': true, 'credit': unassigned.entry.amount >= 0, 'debit': unassigned.entry.amount < 0}">
		{{unassigned.entry.amount / 100 | currency:'USD':true:'1.2-2'}}
	</div>
</div>
