.main-titlebar {
	border: none !important;
	padding: 0.25em;
	margin-bottom: 0.5em;

	font-size: 1.25em;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	&::first-letter {
		font-size: 1.25em;
	}
}

.content-area {
	padding: 0.5em;
}

.unassigned-entries {
	white-space: pre;
	font-family: monospace;
}
